{% extends 'layout/base.html.twig' %}

{% block pageTitle %}User List{% endblock %}

{% block content %}
    <div class="container container-page">
        <div class="page-header pusher">
            <div class="pusher__body">
                <h1>Users :</h1>
            </div>
            <div class="pusher__item__header">
                {% if hasAccess({ 0 : 'user_management', 1 : 'user_create' }) %}
                    <a href="/user/create" class="btn btn-primary">Create a user</a>
                {% endif %}
                {% if hasAccess({ 0 : 'user_management', 1 : 'user_remove' }) %}
                    <a href="#" class="btn btn-primary remove_selected">Remove selected</a>
                {% endif %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover" id="user_table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Role</th>
                    {% if users | length >= 1 %}
                        <th class="text-center"><a href="#" class="btn btn-default checkbox-selector-all">Select all</a></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr data-id="{{ user.id }}">
                        <td class="linked">{{ user.id }}</td>
                        <td class="linked">{{ user.username }}</td>
                        <td class="linked">{{ user.firstname | default('-') }}</td>
                        <td class="linked">{{ user.lastname | default('-') }}</td>
                        <td class="linked">{{ user.email | default('-') }}</td>
                        <td class="linked">{{ user.role_name | default('no role') }}</td>
                        <td class="actionRow" width="1">
                            <a href="#" class="btn btn-default btn-sm remove user_remove glyphicon glyphicon-trash" data-id="user_{{ user.id }}"></a>
                            <a href="#" class="btn btn-default btn-sm select user_select checkbox-container" data-id="user_{{ user.id }}"><div class="checkbox-selector"></div></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center"><small>No user found</small></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script src="/script/pages/userList.js"></script>
{% endblock %}