{% extends 'layout/base.html.twig' %}

{% block pageTitle %}My Profile{% endblock %}

{% block content %}
    <div class="container container-page">
        <div class="page-header">
            <div class="media">
                {% if currentUser.image_filepath %}
                    <div class="media-left">
                        <div class="icon icon-lg" style="background-image: url('/{{ currentUser.image_filepath }}')"></div>
                    </div>
                {% endif %}
                <div class="media-body align-middle">
                    <h1>{{ currentUser.firstname }} {{ currentUser.lastname }}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Contact data</h3>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th width="30%">Username :</th>
                                <td>{{ currentUser.username }}</td>
                            </tr>
                            <tr>
                                <th>Firstname :</th>
                                <td>{{ currentUser.firstname | default('-') }}</td>
                            </tr>
                            <tr>
                                <th>Lastname :</th>
                                <td>{{ currentUser.lastname | default('-') }}</td>
                            </tr>
                            <tr>
                                <th>Email adress :</th>
                                <td>{{ currentUser.email | default('-') }}</td>
                            </tr>
                            <tr>
                                <th>Role :</th>
                                <td>{{ currentUser.role_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3>Reset password</h3>
                    </div>
                    <form class="card-block" id="password-form" method="post" action="/user/{{ currentUser.id }}/changePassword">
                        <div class="form-group">
                            <label for="password">New password :</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password_confirmation">Retype new password :</label>
                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control">
                        </div>
                        <div class="submit text-xs-center">
                            <input type="submit" value="Change" class="btn btn-primary ">
                        </div>
                    </form>
                </div>
                {% if currentUser.id != '1' and currentUser.id != '2' %}
                    <div class="card">
                        <div class="card-header">
                            <h3>API Token</h3>
                        </div>
                        <div class="card-block box-sm">
                            <div class="form-group">
                                <label for="newPassword">Your API Token :</label>
                                <input type="text" readonly="readonly" id="apiToken" class="form-control" value="{{ currentUser.api_key }}">
                            </div>
                            <div class="submit text-xs-center">
                                <a href="/user/{{ currentUser.id }}/resetAPIKey" class="btn btn-primary">Reset Key</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>My permissions</h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="40%">Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for permission in permissions %}
                                <tr>
                                    <td>{{ permission.name }}</td>
                                    <td>{{ permission.description }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center"><small>You don't have any permission</small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-outline-info" id="permissions-view-all" type="button">Show all permissions</button>
                    </div>
                </div>
                <div class="card hidden-xs-up" id="block-all-permissions">
                    <div class="card-header">
                        <h3>All permissions</h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="40%">Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for permission in allPermissions %}
                                <tr>
                                    <td>{{ permission.name }}</td>
                                    <td>{{ permission.description }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center"><small>No permission found</small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script src="/script/pages/userProfile.js"></script>
{% endblock %}
