{% extends 'layout/base.html.twig' %}

{% block pageTitle %}Track Detail{% endblock %}

{% block content %}
    <div class="container container-form">
        <div class="page-header pusher">
            <div class="pusher__body">
                <h1>Track Detail :</h1>
            </div>
            <div class="pusher__item__header">
                {% if hasAccess({ 0 : 'track_management' }) %}
                    <a href="/track" class="btn btn-primary">Back to list</a>
                {% endif %}
                {% if hasAccess({ 0 : 'track_management', }) %}
                    <a href="/track/{{ track.id }}/edit" class="btn btn-primary">Edit</a>
                {% endif %}
            </div>
        </div>
        <div class="row mrgb mrgt">
            <div class="col-sm-4">
                <span><strong>Thumbnail :</strong></span>
            </div>
            <div class="col-sm-8">
                <img src="/{{ track.thumbnail_filepath }}" width="80%">
            </div>
        </div>
        <div class="row mrgbs">
            <div class="col-sm-4">
                <span><strong>ID :</strong></span>
            </div>
            <div class="col-sm-8">
                <span>{{ track.id }}</span>
            </div>
        </div>
        <div class="row mrgbs">
            <div class="col-sm-4">
                <span><strong>Title :</strong></span>
            </div>
            <div class="col-sm-8">
                <span>{{ track.title }}</span>
            </div>
        </div>
        <div class="row mrgbs">
            <div class="col-sm-4">
                <span><strong>Artist :</strong></span>
            </div>
            <div class="col-sm-8">
                <span>{{ track.artist | default('-') }}</span>
            </div>
        </div>
        <div class="row mrgbs">
            <div class="col-sm-4">
                <span><strong>Album  :</strong></span>
            </div>
            <div class="col-sm-8">
                <span>{{ track.album | default('-') }}</span>
            </div>
        </div>
        <div class="row mrgbs">
            <div class="col-sm-4">
                <span><strong>Channel :</strong></span>
            </div>
            <div class="col-sm-8">
                <span>{{ track.youtube_channel }}</span>
            </div>
        </div>
        <div class="row mrgbs">
            <div class="col-sm-4">
                <span><strong>Youtube ID :</strong></span>
            </div>
            <div class="col-sm-8">
                <span>{{ track.youtube_id }}</span>
            </div>
        </div>
        <div class="row mrgbs">
            <div class="col-sm-4">
                <span><strong>Views :</strong></span>
            </div>
            <div class="col-sm-8">
                <span>{{ track.youtube_views | number_format(0, '.', "'") }}</span>
            </div>
        </div>
        <div class="row mrgbs">
            <div class="col-sm-4">
                <p><strong>Duration :</strong></p>
            </div>
            <div class="col-sm-8">
                <p>{{ track.duration }}</p>
            </div>
        </div>
    </div>
{% endblock %}