{% extends 'layout/base.html.twig' %}

{% block pageTitle %}Search for a Youtube Track{% endblock %}

{% block additionalCss %}
    <link rel="stylesheet" href="/lib/awesomplete_3.11.26/awesomplete.css" type="text/css">
{% endblock %}

{% block content %}
    <div class="container container-page">
        <div class="page-header pusher">
            <div class="pusher__body">
                <h1>Add a Track :</h1>
            </div>
            <div class="pusher__item__header">
                {% if hasAccess({ 0 : 'track_management' }) %}
                    <a href="/track" class="btn btn-primary btn-lg">Back to list</a>
                {% endif %}
            </div>
        </div>
        <div class="container container-form">
            <form id="youtube_search_form" method="get">
                <div class="form-group">
                    <label for="search_term">Youtube Search :</label>
                    <input type="text" value="{{ searchTerm }}" name="searchTerm" id="youtube_search" class="form-control" placeholder="Search on youtube...">
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary pull-right">
                </div>
            </form>
        </div>
        {% if searchResults %}
            <div class="table-responsive">
                <table class="table table-striped" id="youtube_search_table">
                    {% for searchResult in searchResults %}
                        <tr class="media">
                            <td class="media-body media">
                                <div class="media-left">
                                    <img src="{{ searchResult.thumbnail_path }}" height="110px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ searchResult.title }}</h4>
                                    <small class="text-muted">{{ searchResult.publicationDate }}</small><br>
                                    <small class="text-muted">{{ searchResult.channel }}</small>
                                </div>
                            </td>
                            <td class="media-right align-middle">
                                <a href="/track/add?yid={{ searchResult.id }}" class="btn btn-outline-info btn-sm mrgrs">
                                    <img src="/files/components/glyphicons-download-alt.png" height="18px">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block additionalJs %}
    <script src="/lib/awesomplete_3.11.26/awesomplete.min.js"></script>
    <script src="/script/pages/trackSearch.js"></script>
{% endblock %}